body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:660px;
  top:300px;
  width:580px;
  height:190px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:190px;
}
#u3 {
  position:absolute;
  left:2px;
  top:87px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:870px;
  top:243px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:684px;
  top:330px;
  width:426px;
  height:110px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:110px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:990px;
  top:545px;
  width:140px;
  height:45px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:700px;
  top:561px;
  width:46px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
